.Home {
  text-align: center;
}

.top-half, .bottom-half {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-half {
  height: 50vh;
  background-color: #f0f0f0;
  overflow: auto;
}

.bottom-half {
  flex-grow: 1;
  background-color: #e0e0e0;
  padding: 20px 0;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.group {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-bottom: 20px;
}

.checkbox-label {
  margin: 5px;
  cursor: pointer;
  display: block;
  text-align: left;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.card:hover, .group:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.relic-item {
  flex: 0 0 auto;
  width: 200px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.carousel-container {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #e0e0e0; /* For Firefox */
  padding: 20px 0; /* Space above/below the carousel */
  width: 100%;
}

/* Optional: Custom scrollbar for Chrome, Edge, and Safari */
.carousel-container::-webkit-scrollbar {
  height: 8px;
}

.carousel-container::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.carousel-container::-webkit-scrollbar-thumb {
  background: #888;
}

.carousel-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
