.Home {
  text-align: center;
}

.top-half, .bottom-half {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-half {
  height: 30vh;
  background-color: #f0f0f0; /* Light grey background */
}

.bottom-half {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: space-around; /* Spread sections evenly */
  align-items: center; /* Center-align items horizontally */
  height: auto; /* Adjust height based on content */
  background-color: #e0e0e0;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #ffffff; /* White background */
  border: 1px solid #000; /* Black border */
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* Style for each section */
.normal-mission-types, .endless-mission-types, .relic-types, .special-fissure-types {
  width: auto; /* Adjust width as needed */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create a 2-column grid */
  gap: 10px; /* Space between items */
  margin: 10px 0; /* Margin for top and bottom */
}

.card, .normal-mission-types, .endless-mission-types,.special-fissure-types, .relic-types {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Optional: add shadow for better visuals */
  transition: 0.3s; /* Optional: add transition for hover effects */
  border-radius: 5px; /* Optional: round corners for aesthetics */
}

.checkbox-label {
  margin: 5px 0;
  cursor: pointer;
}